// Note: Quickfeather uses the QFN package so the format is: set <signal name> <QFN pin #>
// Note: Quickfeather uses the QFN package so the format is: set <signal name> <QFN pin #>
set_io redled		2

